{% extends 'base.html' %}
{% block title %}
Последние обновления ленты
{% endblock %}

{% block content %}
  <h1>Последние обновления ленты</h1>
  {% include 'includes/switcher.html' %}
  {% for post in page_obj %}
    {% include 'includes/article.html' %}
    {% if post.group %}  
      <ul>
        <li>
          Сообщество: {{ post.group }}
        </li>
      </ul>
      <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a><br>
      <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
    {% endif %} 
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
{% endblock %}